.TunTunIcon {
    box-sizing: border-box;
    
    width: 155px;
    height: 149px;
    left: 1098px;
    top: 132px;

    background: url(yubi.jpeg);
    background-size: 155px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 151px;
}